<%= form_for(@cart) do |f| %>
  

  <div class="field">
    <%= f.label :purchased_at %><br />
    <%= f.datetime_select :purchased_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
